body{
  font-family: 'Geo', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}

img{
  max-width: 22%;
  max-height: 22%;
  border-radius: 5px;
}
.bg{
  background-image: url("bg_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p{
    color: white
}

.container{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, 1fr, 1.5fr;
  gap: 10px;
  width: 600px;
  height: 400px;
  padding: 20px;
  margin: 20px;
  border: 2px solid black;
  background: rgba(92, 46, 83, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border:5px solid rgb(42, 30, 38);
}

#left{
  width:300px;
  height: 400px;
}

#right{
  width:300px;
  height: 400px;
}

.main-btn {
    background-color: transparent; 
    border: none;
    border-radius:10px;
    width:100%;
    height:100%;
    padding: 50px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.button-wrapper{
position: relative;
display: inline-block;
align-self: flex-end;
}

.button-wrapper .slide-out{
  -webkit-text-fill-color: aliceblue;
    position: absolute;
    top:50%;
    left:0%;
    transform: translateX(0px);
    opacity:0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    z-index:10;
}

.button-wrapper:hover .slide-out{
    transform: translateX(-75px);
    opacity: 1;
}

.exit-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: red;
    background-image: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self:flex-start;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
}
#spotify-player iframe{
  width:100%;
  height:100%;
  border:none;
}

.spotify-floating{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index:10px;
  width:300px;
  height:200px;
  cursor: grab;
  overflow: hidden;
  border: none;
}

#equipment{
  grid-column: 1; grid-row:3;
  background-image: url("Icons/backpack.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

#skill-tree{
  grid-column: 2; grid-row:3;
  background-image: url("Icons/skill-tree.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;

}
#save-slot{
  grid-column: 3; grid-row:3;
  background-image: url("Icons/save.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;

}
#achievements{
  grid-column: 4; grid-row:3;
  background-image: url("Icons/achievements.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

h1{
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: center;
}

#equipment-container{
  display: none;
}
#skill-tree-container{
  display: none;
}
#save-slot-container{
  display: none;
}
#achievements-container{
  display: none;
}

#character{
  width:40px;
  height:40px;
  background-color: red;
  position: absolute;
  bottom: 200px;
  left: 200px;
}