body{
  font-family: 'Geo', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-fill-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}

img{
  max-width: auto;
  max-height: 22%;
  border-radius: 5px;
}
.bg{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p{
    color: white;
    text-align: center;
    font-size: 18px;
}

button{
  cursor: pointer;
}

.container{

  display: inline-block;
  justify-content: center;
  width: 600px;
  height: 400px;
  margin: 20px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border:5px solid rgb(0, 53, 62);
}

#left{
  width:300px;
  height: 400px;
}

#right{
  width:300px;
  height: 400px;
}

.main-btn {
    background-color: transparent; 
    border: none;
    border-radius:10px;
    width:100%;
    height:100%;
    padding: 50px;
    z-index: 2;
    font-weight: bold;
}

.button-wrapper{
position: relative;
display: inline-block;
align-self: flex-end;
}

.button-wrapper .slide-out{
  text-align: center;;
  -webkit-text-fill-color: aliceblue;
    position: absolute;
    top:50%;
    left:25%;
    transform: translateY(0px);
    opacity:0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    z-index:10;
}

.button-wrapper:hover .slide-out{
    transform: translateY(-125px);
    opacity: 1;
}

.exit-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: red;
    background-image: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self:flex-start;
    z-index: 10;
    border-radius: 5px;
}

#spotify-player{
  opacity: 0;
  transition: opacity 0.5s ease;
}
#spotify-player iframe{
  width:100%;
  height:100%;
  border:none;
  pointer-events: none;
}

.spotify-floating{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index:10px;
  width:300px;
  height:200px;
  cursor: grab;
  overflow: hidden;
  border: none;
}

#equipment{
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: url("Icons/Backpack.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

#skill-tree{
  position: absolute;
  left: 150px;
  bottom: 0px;
  background-image: url("Icons/scrapbook.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;

}
#scrapbook{
  position: absolute;
  left: 300px;
  bottom: 0px;
  background-image: url("Icons/scrapbook.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;

}
#achievements{
  position: absolute;
  left: 450px;
  bottom: 0px;
  background-image: url("Icons/Trophy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

h1{
  text-align: center;
}

#equipment-container{
  display: none;
}
#skill-tree-container{
  display: none;
}
#scrapbook-container{
  align-content: center;
  display: none;
  overflow-y: auto;
}
#achievements-container{
  display: none;
}

#character{
  width:40px;
  height:40px;
  background-color: red;
  position: absolute;
  bottom: 200px;
  left: 200px;
}

.sun{
  margin: 5px;
}

#music-box{
  position:absolute;
  padding:50px;
  right:5px;
  bottom:5px;
  width:50px;
  height:50px;
  background-image: url("Icons/Trophy.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border:none;
}

#socials{
  position:absolute;
  padding:50px;
  top:5px;
  left:5px;
  width:50px;
  height:50px;
  background-image: url("Icons/Trophy.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border:none;
}

#dropdown{
  top:25%;
  left:5px;
  position:absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height:0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.2s ease;
  border-radius: 5px;
  padding: 0px 10px;

}

#dropdown.open{
  top:25%;
  left:5px;
  position:absolute;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}

#github{
  width:75px;
  height:75px;
  background-image: url("Icons/GitHub-Logo.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border:none;
  padding:20px;
}
#linkedin{
  width: 75px;
  height:75px;
  background-image: url("Icons/LinkedIn-Logo.wine.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border:none;
  padding:20px;
}

#discord{
  width:75px;
  height:75px;
  background-image: url("Icons/discord.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border:none;
  padding:20px;
}
#itch{
  width:75px;
  height:75px;
  background-image: url("Icons/itch-io-logo.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border:none;
  padding:20px;
}