img{
  max-width: 22%;
  max-height: 22%;
  border-radius: 5px;
}
.bg{
  background-image: url("bg_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p{
    color: white
}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 2px solid black;
  background: rgba(92, 46, 83, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border:5px solid rgb(42, 30, 38);
}

.main-btn {
    background-color: transparent; 
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    width:75px;
    height:75px;
    margin:10px;
    padding: 12px 24px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-text-fill-color: aliceblue;
    font-weight: bold;
}

.button-wrapper{
position: relative;
display: inline-block;
align-self: flex-end;
}

.button-wrapper .slide-out{
  -webkit-text-fill-color: aliceblue;
    position: absolute;
    top:50%;
    left:0%;
    transform: translateX(0px);
    opacity:0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    z-index:10;
}

.button-wrapper:hover .slide-out{
    transform: translateX(-75px);
    opacity: 1;
}

.exit-btn {
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: red;
    background-image: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self:flex-start;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    
}

#equipment{
  background-image: url("Icons/backpack.png");
  background-repeat: no repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

#skill-tree{
  background-image: url("Icons/skill-tree.png");
  background-repeat: no repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;

}
#save-slot{
  background-image: url("Icons/save.png");
  background-repeat: no repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;

}
#achievements{
  background-image: url("Icons/achievements.png");
  background-repeat: no repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}
#spells{

}
#weapons{

}
#armour{

}
#artifacts{

}
.character{
  width:40px;
  height:40px;
  background-color: red;
  position: absolute;
  bottom: 200px;
  left: 200px;
}