img{
  max-width: 22%;
  max-height: 22%;
  border-radius: 5px;
}
.bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p{
    color: white
}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 2px solid black;
  background: white;
}


button{
    background-image: url("IMG_7992.JPEG");
    background-repeat: no repeat;
    background-position: center;
    background-size: contain;
}

.main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    width:75px;
    height:75px;
    margin:10px;
    padding: 12px 24px;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.button-wrapper{
position: relative;
display: inline-block;
align-self: flex-end;
}

.button-wrapper .slide-out{
    position: absolute;
    top:50%;
    left:0%;
    transform: translateX(0px);
    opacity:0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    z-index:10;
}

.button-wrapper:hover .slide-out{
    transform: translateX(-75px);
    opacity: 1;
}

.exit-btn {
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: red;
    background-image: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self:flex-start;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    
}

#equipment{

}
#skill-tree{

}
#save-slot{

}
#achievement{

}
#spells{

}
#weapons{

}
#armour{

}
#artifacts{

}