img{
  max-width: 22%;
  max-height: 22%;
  border-radius: 5px;
}
.bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p{
    color: white
}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 2px solid black;
  background: white;
}

button{
    width:75px;
    height:75px;
    margin:10px;
}

.slide-btn {
  padding: 12px 24px;
  overflow: hidden; 
}

.slide-btn .text {
  display: inline-block;
  transition: transform 0.3s ease;
}

.slide-btn:hover .text {
  transform: translateX(-10px);
}